HOST=db                   #Fixo
DRIVER=pgsql              #Fixo para o postgres
DB=nome_database
USER=nome_user
PASSWORD=senha_user

APP_PORT=porta_aplicação  #Recomendado: 8080
FRONT_PORT=porta_frontend #Recomendado: 3000
DB_PORT=porta_db          #Recomendado: 5432
#As portas podem variar alguns digitos pra cima e pra baixo