HOST=db                   #Fixo
DRIVER=pgsql              #Fixo para o postgres
DB=nome_database
USER=nome_user
PASSWORD=senha_user
SECRET=segredo_importante #Recomendado: uma STRING longa e imprevisivel.
#Obs: A segurança depende dessa variável (SECRET), escolha um bom nome 

APP_PORT=porta_aplicação  #Recomendado: 8080
FRONT_PORT=porta_frontend #Recomendado: 3000
DB_PORT_INTERNA=db_port_i #Recomendado: 5432
DB_PORT_EXTERNA=db_port_e #Recomendado: 5433
#Obs: As portas podem variar alguns digitos pra cima e pra baixo